<a href="https://colab.research.google.com/github/swarup7350/python_code/blob/master/HIMS%2016-Jan-2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import sys                                                                      # Import packages
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie, axis, show
%matplotlib inline                                                              

import warnings                                                                 # Ignore warning related to pandas_profiling
warnings.filterwarnings('ignore') 
pd.set_option('display.max_columns', 100)                                       # Display all dataframe columns in outputs

In [9]:

from google.colab import files
uploaded = files.upload()

Saving Screening Final Details.xlsx to Screening Final Details (1).xlsx

In [0]:
import pandas as pd
HIMS= pd.read_excel('Screening Final Details (1).xlsx', sep=',', encoding='latin-1')

In [15]:
HIMS.head(10)

,CampId,CampNo,CampLocation,CampDate,DISTLGDCODE,DISTNAME,RegdId,RegdNo,FULLNAME,MOBILE,AGE,GENDER,DOCREMARK,health_STATUS,BMI,Weight_KGs,Height_CMs,BloodSugar_F,BloodSugar_PP,BloodSugar_R,PulseRate
0,108,CAMP_482_0000019,"Dattapada Rd, Rajendra Nagar, Borivali East, M...",2019-08-01,999,MUMBAI SUBURBAN WEST,476802,353690015132,Kathuao Malik,8.828341e+09,28.0,M,PATIENT IS NORMAL HAEMODYNAMICALLY STABLE,Normal,18.5901,50.0,164.0,101.0,115.0,NaN,NaN
1,108,CAMP_482_0000019,"Dattapada Rd, Rajendra Nagar, Borivali East, M...",2019-08-01,999,MUMBAI SUBURBAN WEST,476806,353690009820,Sudhansu Malik,9.892363e+09,23.0,M,PATIENT IS NORMAL HAEMODYNAMICALLY STABLE,Normal,18.8189,50.0,163.0,71.0,96.0,NaN,NaN
2,108,CAMP_482_0000019,"Dattapada Rd, Rajendra Nagar, Borivali East, M...",2019-08-01,999,MUMBAI SUBURBAN WEST,476809,353690015123,Jitrendra Malik,8.452993e+09,20.0,M,PATIENT IS NORMAL HAEMODYNAMICALLY STABLE,Normal,17.5781,45.0,160.0,74.0,148.0,NaN,NaN
3,108,CAMP_482_0000019,"Dattapada Rd, Rajendra Nagar, Borivali East, M...",2019-08-01,999,MUMBAI SUBURBAN WEST,476811,353690013716,Madhu Sudan Das,9.768925e+09,51.0,M,PATIENT IS NORMAL HAEMODYNAMICALLY STABLE,Normal,19.2277,48.0,158.0,83.0,125.0,NaN,NaN
4,108,CAMP_482_0000019,"Dattapada Rd, Rajendra Nagar, Borivali East, M...",2019-08-01,999,MUMBAI SUBURBAN WEST,476813,353690008804,Anup Bain,9.082932e+09,41.0,M,PREDIABETIC,IPD,22.8624,60.0,162.0,100.0,166.0,NaN,NaN
5,108,CAMP_482_0000019,"Dattapada Rd, Rajendra Nagar, Borivali East, M...",2019-08-01,999,MUMBAI SUBURBAN WEST,476815,10000009213,Prabodh Jana,9.137386e+09,56.0,M,PATIENT IS NORMAL HAEMODYNAMICALLY STABLE,Normal,21.5139,60.0,167.0,136.0,183.0,NaN,NaN
6,108,CAMP_482_0000019,"Dattapada Rd, Rajendra Nagar, Borivali East, M...",2019-08-01,999,MUMBAI SUBURBAN WEST,476818,353690013780,Mohan Maity,8.343087e+09,21.0,M,PATIENT IS NORMAL HAEMODYNAMICALLY STABLE,Normal,17.7154,50.0,168.0,102.0,142.0,NaN,NaN
7,108,CAMP_482_0000019,"Dattapada Rd, Rajendra Nagar, Borivali East, M...",2019-08-01,999,MUMBAI SUBURBAN WEST,476820,353690013760,Manas Kumar Ghorai,9.867769e+09,29.0,M,PATIENT IS NORMAL HAEMODYNAMICALLY STABLE,Normal,16.8962,46.0,165.0,90.0,7.0,NaN,NaN
8,108,CAMP_482_0000019,"Dattapada Rd, Rajendra Nagar, Borivali East, M...",2019-08-01,999,MUMBAI SUBURBAN WEST,476824,353690013733,Babu Burman,8.928362e+09,26.0,M,PATIENT IS NORMAL HAEMODYNAMICALLY STABLE,Normal,17.7999,45.0,159.0,95.0,119.0,NaN,NaN
9,108,CAMP_482_0000019,"Dattapada Rd, Rajendra Nagar, Borivali East, M...",2019-08-01,999,MUMBAI SUBURBAN WEST,476825,353690008400,Barun Jana,6.294144e+09,22.0,M,PATIENT IS NORMAL HAEMODYNAMICALLY STABLE,Normal,19.1516,60.0,177.0,98.0,105.0,NaN,NaN

In [16]:
HIMS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64023 entries, 0 to 64022
Data columns (total 21 columns):
CampId           64023 non-null int64
CampNo           64014 non-null object
CampLocation     64014 non-null object
CampDate         64023 non-null datetime64[ns]
DISTLGDCODE      64023 non-null int64
DISTNAME         64023 non-null object
RegdId           64023 non-null int64
RegdNo           64023 non-null int64
FULLNAME         64021 non-null object
MOBILE           53356 non-null float64
AGE              64021 non-null float64
GENDER           64021 non-null object
DOCREMARK        54950 non-null object
health_STATUS    64023 non-null object
BMI              63899 non-null float64
Weight_KGs       63899 non-null float64
Height_CMs       63899 non-null float64
BloodSugar_F     57872 non-null float64
BloodSugar_PP    62887 non-null float64
BloodSugar_R     6558 non-null float64
PulseRate        0 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(4), object(7)
memory usage: 10.3+ MB

In [0]:
df=pd.pivot_table(HIMS,index=["CampId","DISTNAME"],values=["RegdId"],
               aggfunc=[len],fill_value=0,margins=True)

In [22]:
HIMS.describe()

,CampId,DISTLGDCODE,RegdId,RegdNo,MOBILE,AGE,BMI,Weight_KGs,Height_CMs,BloodSugar_F,BloodSugar_PP,BloodSugar_R,PulseRate
count,64023.000000,64023.000000,64023.000000,6.402300e+04,5.335600e+04,64021.000000,6.389900e+04,63899.000000,63899.000000,57872.000000,62887.000000,6558.000000,0.0
mean,457.211690,507.417928,510527.469519,1.897175e+11,8.845446e+09,37.224786,2.870230e+03,60.342666,153.635766,115.146452,130.780447,141.784811,NaN
std,261.691495,107.817574,39964.263560,1.166427e+11,9.842298e+08,11.931277,1.505336e+05,92.381559,37.359442,1056.567110,34.672930,1376.534018,NaN
min,67.000000,466.000000,240163.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.160000,0.000000,0.000000,0.000000,NaN
25%,227.000000,478.000000,490359.500000,1.110500e+11,8.108219e+09,30.000000,1.948700e+01,50.000000,152.000000,90.000000,112.000000,102.000000,NaN
50%,410.000000,484.000000,518567.000000,1.717800e+11,9.096865e+09,36.000000,2.220630e+01,56.000000,161.000000,99.000000,128.000000,117.000000,NaN
75%,715.000000,490.000000,536030.500000,2.930401e+11,9.637762e+09,45.000000,2.540280e+01,65.000000,168.000000,111.000000,142.000000,138.000000,NaN
max,915.000000,999.000000,553332.000000,1.110500e+12,1.000000e+10,930.000000,2.884153e+07,8565.000000,768.000000,130162.000000,968.000000,110120.000000,NaN

In [23]:
!pip install pandas_profiling
import pandas_profiling

Requirement already satisfied: pandas_profiling in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (2.10.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (1.12.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (0.25.3)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (3.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas_profiling) (1.1.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas_profiling) (1.17.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas_profiling) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas_profiling) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas_profiling) (42.0.2)

In [0]:
profilehm = pandas_profiling.ProfileReport(HIMS)
profilehm.to_file(outputfile="befprocess.html")
##befprof = hm.profileReport(title='Pandas Profiling before Data Preprocessing')
##profilehm.profileReport(title='Pandas Profiling before Data Preprocessing', style={'full_width':True})

In [0]:
from google.colab import files
files.download("befprocess.html")