<a href="https://colab.research.google.com/github/swarup7350/python_code/blob/master/Medical%20History.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import sys                                                                      # Import packages
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie, axis, show
%matplotlib inline                                                              

import warnings                                                                 # Ignore warning related to pandas_profiling
warnings.filterwarnings('ignore') 
pd.set_option('display.max_columns', 100)                                       # Display all dataframe columns in outputs

In [4]:
from google.colab import files
uploaded = files.upload()

Saving Medical History.xlsx to Medical History.xlsx

In [0]:
import pandas as pd
Medical_History= pd.read_excel('Medical History.xlsx', sep=',', encoding='latin-1')

In [8]:
Medical_History.head(10)

,CampId,RegdId,RegdNo,Diseaseid,DiseaseName,Disease_Status
0,71,240163,10000022501,3,Kidney Disease,NO
1,71,240163,10000022501,8,Cardiovascular Diseasse,NO
2,71,240163,10000022501,9,Congenital Abnormality,NO
3,71,240163,10000022501,7,Tuberculosis,NO
4,71,240163,10000022501,2,Muscular Disease,NO
5,71,240163,10000022501,5,Diabetes,NO
6,71,240163,10000022501,4,Thyroid,NO
7,71,240163,10000022501,1,Asthama,NO
8,71,240163,10000022501,6,Neurological Disease,NO
9,71,240163,10000022501,10,Gastrointestinal Ulcer,NO

In [9]:
Medical_History.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625578 entries, 0 to 625577
Data columns (total 6 columns):
CampId            625578 non-null int64
RegdId            625578 non-null int64
RegdNo            625578 non-null int64
Diseaseid         625578 non-null int64
DiseaseName       625578 non-null object
Disease_Status    625578 non-null object
dtypes: int64(4), object(2)
memory usage: 28.6+ MB

In [12]:
Medical_History.groupby('CampId')['RegdId'].count()

CampId
67     1228
69      960
71     2160
72     1140
74      840
       ...
911    1710
912    1070
913      50
914    1160
915      30
Name: RegdId, Length: 698, dtype: int64

In [13]:
Medical_History.groupby('Disease_Status')['RegdId'].count()

Disease_Status
NO     622202
Yes      3376
Name: RegdId, dtype: int64

In [0]:
df=pd.pivot_table(Medical_History,index=["DiseaseName"],values=["RegdId"],
               columns=["Disease_Status"],aggfunc=[len],fill_value=0,margins=True)

In [22]:
df.head()

                           len
                        RegdId
Disease_Status              NO  Yes    All
DiseaseName
Asthama                  62257  301  62558
Cardiovascular Diseasse  62122  436  62558
Congenital Abnormality   62418  139  62557
Diabetes                 62017  541  62558
Gastrointestinal Ulcer   62342  215  62557

In [23]:
!pip install pandas_profiling
import pandas_profiling

Requirement already satisfied: pandas_profiling in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (2.10.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (1.12.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (0.25.3)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (3.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas_profiling) (1.1.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas_profiling) (2.6.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas_profiling) (1.17.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas_profiling) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas_profiling) (42.0.2)

In [0]:
profilehm = pandas_profiling.ProfileReport(Medical_History)
profilehm.to_file(outputfile="Medical History.html")
##befprof = hm.profileReport(title='Pandas Profiling before Data Preprocessing')
##profilehm.profileReport(title='Pandas Profiling before Data Preprocessing', style={'full_width':True})

In [0]:
from google.colab import files
files.download("Medical History.html")

# **Observations:-**