<a href="https://colab.research.google.com/github/swarup7350/python_code/blob/master/Personal_History.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sys                                                                      # Import packages
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie, axis, show
%matplotlib inline                                                              

import warnings                                                                 # Ignore warning related to pandas_profiling
warnings.filterwarnings('ignore') 
pd.set_option('display.max_columns', 100)

In [3]:
from google.colab import files
uploaded = files.upload()

Saving Personal History.xlsx to Personal History.xlsx

In [0]:
import pandas as pd
Personal_History= pd.read_excel('Personal History.xlsx', sep=',', encoding='latin-1')

In [5]:
Personal_History.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63432 entries, 0 to 63431
Data columns (total 9 columns):
CampId         63432 non-null int64
CampDate       63432 non-null datetime64[ns]
DISTLGDCODE    63432 non-null int64
RegdId         63432 non-null int64
RegdNo         63432 non-null int64
IsAlcohol      63385 non-null object
IsSmoking      63385 non-null object
IsTobaco       63385 non-null object
IsDrug         63385 non-null object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 4.4+ MB

In [9]:
Personal_History.head()

,CampId,CampDate,DISTLGDCODE,RegdId,RegdNo,IsAlcohol,IsSmoking,IsTobaco,IsDrug
0,108,2019-08-01,999,476802,353690015132,NO,NO,Yes,NO
1,108,2019-08-01,999,476806,353690009820,NO,NO,Yes,NO
2,108,2019-08-01,999,476809,353690015123,NO,NO,NO,NO
3,108,2019-08-01,999,476811,353690013716,NO,NO,Yes,NO
4,108,2019-08-01,999,476813,353690008804,NO,Yes,NO,NO

In [7]:
Personal_History.tail()

,CampId,CampDate,DISTLGDCODE,RegdId,RegdNo,IsAlcohol,IsSmoking,IsTobaco,IsDrug
63427,96,2019-07-31,490,476780,111050011816,Yes,NO,NO,NO
63428,96,2019-07-31,490,476781,111060031563,NO,NO,Yes,NO
63429,96,2019-07-31,490,476782,111060031578,Yes,NO,NO,NO
63430,96,2019-07-31,490,476783,111060031444,Yes,NO,Yes,NO
63431,96,2019-07-31,490,476794,111060031455,NO,NO,Yes,NO

In [10]:
Personal_History.groupby('CampId')['RegdId'].count()

CampId
67     123
69      96
71     217
72     118
74      84
      ...
910      8
911     90
912     11
913      5
914     39
Name: RegdId, Length: 705, dtype: int64

In [11]:
!pip install pandas_profiling
import pandas_profiling

Requirement already satisfied: pandas_profiling in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (3.1.2)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (0.25.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (1.12.0)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling) (2.10.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (2.6.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (0.10.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.17.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas_profiling) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas_profiling) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas_profiling) (42.0.2)

In [0]:
profilehm = pandas_profiling.ProfileReport(Personal_History)
profilehm.to_file(outputfile="Personal History.html")
##befprof = hm.profileReport(title='Pandas Profiling before Data Preprocessing')
##profilehm.profileReport(title='Pandas Profiling before Data Preprocessing', style={'full_width':True})

In [0]:
from google.colab import files
files.download("Personal History.html")